/* .contact1Row{
    display: grid;
    grid-template-rows: 130vh;
    grid-template-columns: 4fr 92fr 4fr;
    background-color: rgb(255, 255, 255);
    grid-template-areas: ". contact1col2 .";   
}

.contact1col2
{
    grid-area: contact1col2;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 40vh 70vh;

}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ContactText{
    margin-top: 3rem;

    margin-left: 4rem;
}
.ContactText > h1
{
    margin-bottom: 2rem;
}
.ContactText > p{
    color: black;
}

form{
    background-color: rgb(255, 255, 255);
    transform: translateY(-12rem);
    z-index: 0;
}
.vlt-page-title__title
{
transform: translateY(-15rem);
}   
.vlt-page-title__subtitle{
    transform: translateY(-15rem);

}
.vlt-page-title__phantom-title{
    z-index: 4;
} */